@charset "UTF-8";
@import url(reset.css);


div#wrap {
    width: 400px;
    height: 600px;
    padding: 20px;
    border: 1px solid #000;
    margin: 20px auto;
}

h1 {
    text-align: center;
}

nav#gnb {
    padding: 20px;
/*    border: 1px solid #000;*/
    margin: 20px auto;

    border: 1px solid #000;
}
#gnb>ul#mainMenu {
    /*border: 1px solid #000;*/
}
#gnb li.mainLi {
    text-align: center;
   /* border: 1px solid #f80;*/
    position: relative; /* 자식요소 ul.subMenu가 position: absolute이므로
    left를 사용했을 때 위치를 body요소로 설정하지 못하도록 만듦 */
}
#gnb a {
    width: 160px;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid #aaa;
    margin: 0 auto;
    display: inline-block;
}

#gnb li.mainLi>a {
    height: 50px;
    line-height: 50px
}
#gnb ul.subMenu {
    left: 240px;
    top: 0px;
    position: absolute;
    display: none;
}
#gnb li.subLi>a {
    height: 40px;
    line-height: 40px;
    color: #999;
    background-color: #fff;
}

#gnb li.mainLi:hover>a,
#gnb li.subLi>a:hover {
    color: #fff;
    background-color: lightblue;
}
